# IntelliJ IDE
#   Why? Different developers use different IDE settings.
/target/
/.idea
LevelledMobs.iml

# Eclipse IDE
#   Why? Different developers use different IDE settings.
.classpath
.project
/.settings

# Mac OS X
._.git